{{ define "main" }}
  {{ partial "cover.html" . }}
  {{ partial "section-origin.html" . }}
  {{ partial "section-o2o.html" . }}
  {{ partial "section-mascot.html" . }}
  {{ partial "section-evolution.html" . }}
  {{ partial "section-vip.html" . }}
  {{ partial "section-charity.html" . }}
  {{ partial "section-platform.html" . }}
  {{ partial "closing.html" . }}

  {{/* Page counter */}}
  <div class="page-counter" aria-hidden="true">
    <span class="current-page">1</span> / <span class="total-pages">9</span>
  </div>
{{ end }}
